/* font link */
/* body {
    font-family: 'Open Sans', sans-serif;
} */

.section-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;

}

.text-orange {
    color: #FD6E0A;
}

.btn-primary {
    background-color: #FD6E0A;
    border-radius: 5px;
    font-weight: bold;
    border: none;
    padding: 15px 30px;
    color: white;
}

.heading {
    color: var(--Dark-01, #181818);
    font-size: 45px;
    /* font-style: normal;
    line-height: normal; */

}

.header {
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;

}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}

nav>ul {
    display: flex;
    align-items: center;
    font-size: 20px;

}

nav li {
    list-style: none;
    margin-right: 50px;
    /* font-style: normal; */

    /* font-weight: 400; */
}

nav a {
    text-decoration: none;
    color: var(--Dark-02, #474747);
    font-weight: normal;
}

.banner {
    margin-top: 100px;
    margin: 0 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right; */

}

.left-button {
    display: flex;
}

.headline {
    color: var(--Dark-02, #474747);
    /* font-family: Open Sans; */
    font-size: 25px;
    font-style: normal;
    /* font-weight: 600; */
    line-height: normal;
}

.left-title {
    color: var(--Dark-01, #181818);
    font-family: Open Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.pragraph {
    font-size: 25px;
    font-family: monospace;
}

.download-btn {
    border-radius: 5px;
    background: #FD6E0A;
    /* padding: 19px 51px; */
    border: none;
    color: white;
    width: 200px;
    height: 64px;
    top: 589px;
    left: 230px;
    border-radius: 5px;
    margin-right: 30px;

}

.contact {
    width: 160px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 1px solid #FD6E0A;

    color: #FD6E0A;
    text-align: center;
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.img {
    width: 400px;
    /* height: 676px; */
    flex-shrink: 0;

    /* background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right; */
}

/* main section start */

main {
    max-width: 1140px;
    margin: 0 auto;
}

.about {
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 130px 0;
}

.section-title {
    text-align: center;
}

.section-description {
    text-align: center;
    font-family: monospace;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.about-infro {
    text-align: center;
}

#second-description {
    padding: 30px 150px;
}

.skills-container {
    display: flex;
    gap: 25px;
}

.skill {
    padding: 20px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.skill-description {
    color: #757575
}

.resume-column-title {
    color: #474747;
    font-family: Open Sans;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
}

.resume-container {
    display: flex;
    gap: 50px;
    justify-content: space-evenly;
}

.resume-item-institution {
    color: #757575;

}

.resume-item-description {
    color: #757575;
    font-family: monospace;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

.download-CV {
    text-align: center;
    padding: 50px;

}